<!DOCTYPE html>
<html >
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form method="post" action="../employee/list.html" >
						<fieldset>
							<legend>ログイン</legend>
							<div class="form-group" th:if="${fault}">
								<div class="alert alert-danger">
			                        <p th:text=>メールアドレスまたはパスワードが間違っています</p>
			                    </div>
							</div>
							<div class="form-group">
								<label for="mailAddress">メールアドレス:</label>
								<input type="text" name="mailAddress" id="mailAddress" class="form-control" placeholder="Email">
							</div>
							<div class="form-group">
								<label for="inputPassword">パスワード:</label>
								<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password">
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-primary">ログイン</button>
							</div>
							<div class="form-group">
								<a href="insert.html">管理者登録はこちらから</a>
							</div>
						</fieldset>
					</form>
</body>
</html>